<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />   
    <title>@ViewData["Title"] - EIGA</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
       header
    </header>
    <div class="container">
   
            @RenderBody()
       
    </div>

    <footer class="border-top footer text-muted">
        footer
     
    </footer>
  
</body>
</html>
