@model List<Film>

@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4">Welcome</h1>

  <div class="products">
    @foreach (Film p in Model)
    {
      <a href="/film/@p.Id" class="product" style="background-image:url(@p.Poster)">
        <p class="title">@p.Name</p>        
      </a>
    }
  </div>
</div>
