@model List<Film>

@{
  ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
		<ul class="splide__list">
                @foreach (Film p in Model)
                {
                  <li class="splide__slide">
                      <a href="/film/@p.Id" class="product">  
                          <img src="@p.Poster" class="poster">
                      </a>
                  </li>
                }
  		</ul>
      </div>
    </section>
</div>

<script>
var splide = new Splide( '.splide', {
  type   : 'loop',
  perPage: 3,
  focus  : 'center',
  fixedWidth : '240px',
  fixedHeight : '380px',
  gap : 50,
} );

splide.mount();
</script>