header {
    height: 200px;
    background-image: url("/Images/headerbackground.png");
    background-color: red;
    margin: 0;
}

body {
    margin: 0;
    background-color: lightgray;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product:hover{
    width: 250px;
    height: 375px;
    -webkit-transition: all 0.3s ease-in-out;
}

.product {
    background-color: red;
    background-size:cover;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 300px;
}