header {
    height: 80px;
    background-image: url("Images/headerbackground.png");
    background-color: red;
    margin: 0;
}

img{
    height: 60px;
    width: 60px;
}

body{
    margin: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
    background-color: red;
    background-size:cover;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 300px;
}