header {
    height: 80px;
    background-image: url("/Images/headerbackground.png");
    background-color: red;
    margin: 0;
}

img{
    height: 60px;
    width: 60px;
}

body{
    margin: 0;
}

.products {
  display: flex;
  flex-wrap: wrap;
  background-color:gray;
}

.product:hover{
    width: 250px;
    height: 375px;
    margin: 10px;
    -webkit-transition: all 0.3s ease-in-out;
}

.product {
    background-color: red;
    background-size:cover;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 300px;
}